
  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace
  }

  .logo {
    font-size: xx-large;
  }

  .links  {
    font-size: large;
    justify-self: right;
    margin: 0px;   
  }

  div.linksHolder{
      flex: 1;
      float: right;
      text-align: right;
  }

  svg#rocket {
    width: 80px;
    left: -10px;
    top: -24px;
  }

a {
  padding: 0.8em;
  text-transform: uppercase;
  font-size: .8em;
  text-decoration: none;
  color: white;
}

#menu {
  font-size: large;
  background: #1976d2;  
  position: relative;
  display: inline-block;
  margin: 80px;
}

#list {
  display: none;
  background-color: #1976d2;
  position: absolute;
}

table tr td{
  border-bottom: 1px solid brown;
}

td{
height: 30px;
width: 980px;
}

#menu:hover #list {
  display: block;
}

