
<div>
    <h2>
        <i> Choose a Restaurant and explore exciting items !!! </i>
    </h2>
</div>

<div class="row" *ngIf="restaurants">
    <ng-container *ngFor="let restaurant of restaurants">
        <a [attr.href]="'/restaurant/' + restaurant.hotelId" class="card m-3" style="width: 25rem;">
            <img src='assets/1.png' alt='image' class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    {{restaurant.name}}     
                </h5>
            </div>    
        </a>
    </ng-container>
</div>