

<div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
        
        <span>Restaurant One</span>

    </a>
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
        
        <span>Restaurant One</span>

    </a>
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
        
        <span>Restaurant One</span>

    </a>
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
        
        <span>Restaurant One</span>

    </a>
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
        
        <span>Restaurant One</span>

    </a>
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
        
        <span>Restaurant One</span>

    </a>
</div>