
<div  *ngIf='isLoggedInAlready'>
    <div *ngIf='restaurant'>
        <div class='title'>
            <span> Select items from </span>
            <span class="name">{{restaurant.name}}</span>
        </div>
            <div *ngIf="restaurant?.items">
            <div *ngFor="let item of restaurant.items" class='item-list'>
                <span class="item-list">
                    <img class='item-img' src='assets/items.jpg' alt="items">
                </span> 
                <table class="item-list">
                    <tr>
                        <td class="item-details">
                            <span>{{item.itemName}}</span>
                        </td>
                    </tr>    
                            <!-- <td>
                                <span>{{item.quantity}}</span>
                            </td> -->
                    <tr>      
                        <td class="item-details">
                            <span>₹ </span>
                            <span>{{item.price}}</span>
                        </td>
                    <tr>
                        <td class="item-details">
                            <button (click)="addToCart(restaurant.hotelId, restaurant.name, item.id, item.itemName, item.price)"> add to cart</button>
                        </td>

                    </tr>
                </table>            
            </div>
        </div>
    </div>
</div>