
<div *ngIf='restaurant'>
    <p>{{restaurant.name}}</p>
        <div *ngIf="restaurant?.items">
        <div *ngFor="let item of restaurant.items">

            <table>
                <tr>
                    <td>
                        <span>{{item.itemName}}</span>
                    </td>
                    <td>
                        <span>{{item.quantity}}</span>
                    </td>
                    <td>
                        <span>{{item.price}}</span>
                    </td>
                    <td>
                        <button (click)="addToCart(restaurant.hotelId, item.id)"> add to cart</button>
                    </td>

                </tr>
            </table>            
        </div>
    </div>
</div>