input {
    border: 2px solid;
    width: 550px;
    height:50px;
    font-size: .8em;
    color: black;
    border-color:darkslateblue 
}

label {
    width: 150px;
    height: 50px;
}

.signupform{
    width: 100%;
    margin-top: 50px;
    float: right;
    border: 1px;
}

.form-group{
    margin: 15px;
}

.invalid-feedback{
    margin: 5px;
    color: red;
}

.submit{
    border-radius: 5px;
    float: center;
    border: 0;
    width: 120px;
    height:50px;
    font-size: 1.2em;
    color: white;   
    background: #1976d2;
    margin-left: 120px;
}

.red{
    color: red; 
}